# Carpetas que no queremos copiar al contenedor
.git
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Ignorar archivos de Docker que no se necesitan dentro del contenedor
Dockerfile
docker-compose.yml