firebase-admin~=6.6.0
cryptography~=44.0.1
python-dotenv~=1.0.1
fastapi~=0.114.2
uvicorn~=0.34.1
tensorflow~=2.16.1
Pillow~=9.1.1
python-multipart
numpy~=1.26.4
opencv-python~=4.11.0.86
scikit-image~=0.24.0
motor~=3.7.0
pydantic~=1.10.21
openai~=1.75.0
pydantic-settings~=2.8.1
websockets~=15.0.1
wsproto~=1.2.0
