fastapi~=0.114.2
uvicorn==0.34.1
tensorflow==2.19.0
numpy==1.26.4
pydantic==2.11.3
openai~=1.75.0
httpx~=0.28.1
keras==3.9.2
opencv-python~=4.11.0.86
Pillow~=9.1.1
python-dotenv~=1.0.1
pydantic-settings~=2.9.0
scikit-image~=0.24.0